/* stylelint-disable stylistic/selector-list-comma-newline-after */

:root {
  --primary: #b6895b;
  --bg: #010101;
}

.bg-body-secondary {
  background-image: url(../assets/pink-beach.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card {
  width: 90%;
  background: white;
  padding: 0.4em;
  border-radius: 6px;
}

.card-image {
  background-color: rgb(236, 236, 236);
  border-radius: 6px 6px 0 0;
}

.card-image img {
  background-size: cover;
  height: 130px;
  width: 100%;
}

.card-image:hover {
  transform: scale(0.98);
}

.category {
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: 600;
  color: rgb(63, 121, 230);
  padding: 10px 7px 0;
}

.category:hover {
  cursor: pointer;
}

.heading {
  font-weight: 600;
  color: rgb(88, 87, 87);
  padding: 7px;
}

.heading:hover {
  cursor: pointer;
}

.author {
  color: gray;
  font-weight: 400;
  font-size: 11px;
  padding-top: 20px;
}

.name {
  font-weight: 600;
}

.name:hover {
  cursor: pointer;
}

.text {
  text-align: justify;
}

.container header img {
  width: 45px;
  height: 45px;
}

.d-flex,
.flex-row,
.mb-3 {
  align-items: center;
}

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman",
    serif /*rtl:Amiri, Georgia, "Times New Roman", serif*/;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman",
    serif /*rtl:Amiri, Georgia, "Times New Roman", serif*/;
}

.flex-auto {
  flex: 0 0 auto;
}

.h-250 {
  height: 250px;
}
@media (min-width: 768px) {
  .h-md-250 {
    height: 250px;
  }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #727272;
}
